html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#map {
    width: 100%;
    height: 100%;
    background: #e0e0e0;
}

#sliderContainer {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 14px;
    background: rgba(255,255,255,0.90);
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    font-family: sans-serif;
}

#yearSlider {
    width: 300px;
}