body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#map {
    height: 90vh;
    width: 100vw;
}

#controls {
    padding: 10px;
    background: white;
    position: absolute;
    z-index: 1000;
    top: 10px;
    left: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
